<launch>
    <!-- We setup the learning env -->
    <include file="$(find aubo_openai_example)/launch/setup_learning_env.launch"/>
    
    <!-- This version uses the openai_ros environments -->
    <rosparam command="load" file="$(find aubo_openai_example)/config/qlearn_params.yaml" />
    <!-- Launch the training system -->
    <node pkg="aubo_openai_example" name="aubo_learn_to_pick_cube_qlearn" type="start_qlearning.py" output="screen"/>
</launch>